main {
   background-color: #121026;
   /* width: 70%; */
   width: 68%;
   /* height: 100vh;
   overflow-y: scroll; */
   min-height: 100vh;
}

.main::-webkit-scrollbar {
   display: none;
   width: 120px;
}