.mainTopBar {
   min-width: 100%;
   height: 45px;
   background-color: #121026;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}

.mainTopBar__formSearch {
   height: 45px;
   flex-basis: 350px;
   background-color: #19162c;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
   border-radius: 10px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   font-size: 16px;
   position: relative;
}

.mainTopBar__formSearch i {
   position: absolute;
   width: 40px;
   height: 45px;
   line-height: 45px;
   position: absolute;
   text-align: center;
   font-size: 16px;
   color: #757380;
}

.mainTopBar__formSearch__input {
   height: 100%;
   line-height: 30px;
   width: 350px;
   width: auto;
   width: 100%;
   background-color: inherit;
   color: #d0cfd4;
   font-size: inherit;
   border-radius: .5em;
   padding: 0px 40px;
}

.mainTopBar__formSearch__input:focus {
   outline: 0px solid orange;
   transition: all .3s;
} 

.mainTopBar__formSearch__input::placeholder{
   color: #757380;
}

@media screen and (max-width: 525px) {
   .mainTopBar__formSearch {
      flex-basis: 120px;
      z-index: 101;
   }
   
   .mainTopBar__formSearch__input:focus {
      width: 320px;
      transition: all .3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
   } 
}
@media screen and (max-width: 400px) {
   .mainTopBar {
      display: none;
   }
   

}






/* --------------------- */
/* topbar user profile (bell, profile image, user name, arrow to open small popup box) */

 .userProfileBar {  /*this is tutorial styling */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d0cfd4;
    position: relative;
    margin-left: 20px;   /* (responsive distance with search bar) */
 }

.userProfileBar__notificationBell--wrapper { /*this is tutorial styling */
   width: 40px;
   height: 40px;
   background-color: #19162c;   
   border-radius: 0.5em;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
   text-align: center;
   line-height: 40px;
   font-size: 18px;
   position: relative;
}

.userProfileBar__notificationBell--wrapper::before { /*this is tutorial styling */
   content: '';
   position: absolute;
   top: 5px;
   right: 10px;
   width: 8px;
   height: 8px;
   background-color: #b1147d;
   border-radius: 50%;

}

.userProfileBar__notificationBell { 
   width: 18px; 
   height: 18px;
   color: #d0cfd4;
}

.userProfileBar__userImage-container { 
   width: 40px;
   height: 40px;
   background: red;
   margin: 0px 10px;
   border-radius: 50%;
} 

 .userProfileBar__userImage {
   object-fit: cover;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}


.userProfileBar__userName { 
   font-size: 14px;
   color: #d0cfd4;
   margin-left: 10px;
   font-family: Roboto, sans-serif;
   font-weight: 500;
}

/* ------------- USER PROFILE ICON/TOGGLE & POPUP MENU ------------------------------- */



/* user profile icon toggle - open/close popup menu  */
.FaAngleDown-icon {
   color: #d0cfd4;
   margin: 0 10px;
   transition: transform .4s;
   cursor: pointer;
   font-size: 16px;
} 

/* this is the popup menu (user profile ) */
/* menu-ul   is the ul popup box  */

.userProfileBar__menu-ul {
   position: absolute;
   top: 50px;
   right: 10px;
   background-color: #19162c;
   width: 180px;
   height: 189px;
   font-size: 16px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
   list-style: none;
   transform: translateX(300px);
   z-index: 1;
   transition: all .3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
   border-radius: .5em;
}

.userProfileBar__menu-ul::after {
   content: '';
   background-color: #19162c;
   position: absolute;
   top: -5px;
   right: 6px;
   width: 14px;
   height: 14px;
   transform: rotate(45deg);
}

 .userProfileBar__menu-ul li {
   font-size: 16px;
   color: #757380;
   padding: 10px 10px; 
   margin: 5px 0;
 }

 .userProfileBar__menu-ul li:hover {
   color: #f1f1f1;
   background-color: #121026;
 }




