ul.menu_UL_filters { 
   width: auto;
   height: 43px;
   /* background-color: #333; */
   display: flex;
   justify-content: space-between;
   list-style: none;

   align-items: center;
   padding: 5px 30px;
}

.menu_UL_filters__li a { 
   text-decoration: none;
   color: #d1cfd4;
}

.menu_UL_filters__li:nth-child(1) { 
   margin-right: 15px;
   font-size: 20px;
   font-weight: 700;
   /* background-color: red; */
   margin-left: 5px;
   display: inline-block;
}
.menu_UL_filters__li:nth-child(3) { 
   margin-left: auto;
   margin-right: 15px;
}

.button {
   text-decoration: none;
   font-size: 14px;
   color: #fff;
   background: linear-gradient(#ff21bc, #b21783);
   padding: 5px 15px;
   border-radius: 10px;
   text-transform: uppercase;
   font-weight: 600;
   box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
   inset -5px -10px 10px #b1147d;
   margin-right: 10px;
   cursor: pointer;
}
.button2 {
   text-decoration: none;
   font-size: 14px;
   font-weight: bold;
   color: #d1d0d5;
   border: 2px solid #443b78;
   padding: 5px 15px;
   border-radius: 10px;
   margin: 0px 5px;
}

@media screen and (max-width: 962px) {
   ul.menu_UL_filters {
      flex-wrap: wrap;
      min-height: 45px;
      height: auto;

   }
   .menu_UL_filters__li {
      width: 30%;
      margin-bottom: 5px;
      flex: 1 1 97px;
   }
   .menu_UL_filters__li:nth-child(3) {
      margin-left: initial;
      padding: 5px 15px;

      /* ============================== */
      margin-right: 0px;
      padding: 5px 0px;
      margin-left: 5px;
      /* ============================== */
   }
   
   .menu_UL_filters__li a {
      display: block;
   }
}


@media screen and (max-width: 600px) {
   ul.menu_UL_filters {
      width: auto;
      min-height: 43px;
      height: auto;
      /* background-color: #333; */
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      padding: 2px 6px;
  }
}

